::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: myFont;
  src: url('../assets/TestSohneBreit-Buch-BF663d89ca2ff42.otf');
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
}

body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.37)), url(../assets/green-grain.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

/* nav bar */
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.nav-links {
  background-color: rgba(0, 0, 0, 0.494);;
  display: flex;
  list-style-type: none;
  gap: 10px;
  margin: 0;
  padding: 0;
  height: 55px;
  width: 480px;
  border-radius: 30px;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: inset 3px 3px 5px -1px #21c421cc,
    0px 0px 10px rgba(33, 196, 33, 0.8);
}

.nav-item {
  text-decoration: none;
  color: #21c421;
  transition: all ease-in 0.3s;
  padding: 17px 15px;
  border-radius: 30px;
  font-size: 1.1em;
}

.nav-item:hover {
  text-shadow: 0 0 8px #21c421, 0 0 8px rgb(33, 196, 33);
}

.active {
  color: #6aff6a;;
  text-shadow: 0 0 8px #21c421, 0 0 8px rgb(33, 196, 33);
}

/* intrpduction */
.text-intro {
  color: #21c421;
  font-size: 4.9em;
  margin: 0;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  padding: 160px 50px 90px 50px;
  text-align: justify;
}

.about {
  color: white;
  font-size: 18px;
  line-height: 2;
  font-weight: 100;
}

.resume-button {
  margin-top: 30px;
  height: 40px;
  width: 120px;
  background: none;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: all ease-in 0.2s;
  font-family: "Anonymous Pro", monospace;
}

.resume-button:hover {
  background-color: #21c421;
  border: none;
  color: black;
}

.my-img {
  height: 600px;
  width: 420px;
  object-fit: cover;
  justify-self: end;
}

/* work */
.work-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 50px 80px 50px;
  color: white;
}

.work-title {
  justify-self: end;
  margin-bottom: 20px;
}

.cheese {
  width: 600px;
  height: 600px;
  justify-self: start;
  align-items: center;
}

.work-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 2.4;
}

.work-list li:nth-child(even) {
  justify-self: end;
}

.work {
  width: fit-content;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.work:hover {
  color: #21c421;
  text-shadow: 0 0 8px #21c421, 0 0 5px #21c421;
}

/* hobbies */
.hobbies-container {
  margin-top: 20px;
  color: white;
  padding: 0px 50px 50px 50px;
}

.hobbies-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}

/* footer */
.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  padding: 0px 50px 0px 50px;
  color: white;
}

.text-outro {
  color: #21c421;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}

.text-outro:hover {
  text-shadow: 0 0 8px #21c42186, 0 0 3px #21c42172;
}

.footer-text {
  justify-self: start;
}

.copyright {
  justify-self: end;
  color: #21c421;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.copyright:hover {
  text-shadow: 0 0 8px #21c42186, 0 0 3px #21c42172;
}

.connect-text {
  justify-self: center;
}

.connect-link {
  text-decoration: none;
  color: #7aff7a;
  transition: all ease-in-out 0.3s;
}

.connect-link:hover {
  text-shadow: 0 0 8px #21c421, 0 0 3px #21c421;
}
