::-webkit-scrollbar {
  display: none;
}

/* @font-face {
  font-family: myFont;
  src: url('assets/TestSohneBreit-Buch-BF663d89ca2ff42.otf');
} */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}

body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.37)), url(../assets/blue-grain.jpeg);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Anonymous Pro", monospace;
}

/* nav bar */
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.nav-links {
  background-color: rgba(0, 0, 0, 0.494);;
  display: flex;
  list-style-type: none;
  gap: 10px;
  margin: 0;
  padding: 0;
  height: 55px;
  width: 480px;
  border-radius: 30px;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: inset 3px 3px 5px -1px #60d2ffcc,
    0px 0px 10px rgba(96, 210, 255, 0.8);
}

.nav-item {
  text-decoration: none;
  color: #60d2ff;
  transition: all ease-in 0.3s;
  padding: 17px 15px;
  border-radius: 30px;
  font-size: 1.1em;
}

.nav-item:hover {
  /* background-color: rgba(64, 64, 64, 0.619); */
  text-shadow: 0 0 8px #60d2ff, 0 0 8px rgb(96, 210, 255);
}

.active {
  color: #8edfff;
  text-shadow: 0 0 8px #60d2ff, 0 0 8px rgb(96, 210, 255);
}
/* content */
.content-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 160px 50px 60px 50px;

}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-title {
    color: #60d2ff;
    font-size: 5rem;
    text-align: center;
    margin: 20px;
}

p {
  color: #8edfff;
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

.work-btn {
  margin-top: 50px;
  height: 40px;
  width: 100px;
  background: none;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: all ease-in 0.2s;
  font-family: "Anonymous Pro", monospace;
}

.work-btn:hover {
  background-color: #60d2ff;
  border: none;
  color: black;
}